/* ================================= 
  main content - charts
==================================== */

.chart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pie-container {
  // flex: 0 0 calc(100% - 60px);
  // flex: 0 0 calc(100% - 30px);
  // max-width: calc(100% - 30px);
  // width: calc(100% - 30px);
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {

  .pie-container {
    flex: 0 0 calc(50% - 60px);
    max-width: calc(50% - 60px);
  }

}

@media (min-width: 1200px) {

  .pie-container {
    flex: 0 0 calc(33% - 60px);
    max-width: calc(33% - 60px);
  }

}

.chart-header {

  h2 {
    font-size: $header-font-size;
    font-weight: 400;
    margin: 0;
  }

  p {
    color: $font-meta-color;
    margin-top: 0;
    font-size: $chart-meta-font-size;
  }
}

.chart-content {

}

.chart-footer {

  hr {
    border-top: $border;
    margin: 10px 0;
  }
}

.chart-legend {
  display: flex;
  flex-wrap: wrap;

  span {
    margin-right: 10px;
  }

  span:nth-last-of-type(1) {
    margin-right: 0;
  }
}

.chart-stats {
  color: $font-meta-color;
  font-size: $chart-meta-font-size;
}

.ct-area {
  stroke: none;
  fill-opacity: 0.7;
}

.ct-label {
  font-size: $chart-meta-font-size;
  color: $font-meta-color;
  fill: $dark;
}

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: $blue;
}

.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
  fill: $blue;
}

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: $yellow;
}

.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
  fill: $yellow;
}

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: $green;
}
.ct-series-c .ct-slice-pie, .ct-series-c .ct-area {
  fill: $green;
}

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: $red;
}
.ct-series-d .ct-slice-pie, .ct-series-d .ct-area {
  fill: $red;
}
