/*
  dark background: #212120;
  light background: #f1f1ed;
  dark text: #212120;
  light text: #f1f1ed;

  hover background: #81d4fa;
  hover text: #fff;

  yellow badge: #ef9c34;
  blue badge: #3cb9f3;

  border: 1px solid rgba(115, 115, 114, 0.3);
*/

$font-stack: 'Muli', sans-serif;

$dark: #212120;
$light: #f1f1ed;
// $blue: #81d4fa;
$yellow: #ef9c34;
$blue: #3cb9f3;
$green: #4caf50;
$red: #ef522d;
$font-meta-color: #aaa;

$border: 1px solid rgba(115, 115, 114, 0.3);
$shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

$transition-long: .4s;
$transition-short: .2s;

$menu-width: 200px;
$header-height: 50px;
$header-font-size: 1.5rem;
$icon-size: 1.2rem;
$icon-size-big: 1.8rem;
$chart-meta-font-size: 0.9rem;
$dropdown-font-size: 0.9rem;
$badge-font: 0.75rem;
$badge-font-color: #fff;
$margin: 30px;
$padding: 20px;

$card-header-font: 1.2rem;
$card-footer-font: 0.9rem;
$card-content-font: 2.2rem;
$card-content-font-weight: 300;

/* ================================= 
  colors
==================================== */

.bluebg {
  background: $blue;
}

.yellowbg {
  background: $yellow;
}

.greenbg {
  background: $green;
}

.redbg {
  background: $red;
}

.whitebg {
  background: #fff;
}

.pinkbg {
  background: pink;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.pink {
  color: pink;
}

/* ================================= 
  general rules
==================================== */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  font-size: 16px;
  font-family: $font-stack;
  color: $dark;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button, input, select, textarea {
  font-family: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.badge {
  position: absolute;
  top: 8px;
  right: 18px;
  padding: .1em .3em;
  font-size: $badge-font;
  line-height: 1;
  color: $badge-font-color;
  pointer-events: none;
}

.text-center {
  text-align: center !important;
}
