/* ================================= 
  main content - header
==================================== */

header {
  display: flex;
  align-items: center;
  height: $header-height;
  border-bottom: $border;
}

.header-title {
  font-size: $header-font-size;
  margin: 0 20px;
}

.menu-button {
  width: $header-height * 1.5;
  min-width: $header-height * 1.5;
  height: 100%;
  padding: 0; 
  font-size: $icon-size;
  position: relative;

  i {
    transition: $transition-long;
    pointer-events: none;
  }

  .fa-bell,
  .fa-envelope,
  .fa-cog {
    transition: transform $transition-long + .1s;
  }
}

.menu-button:hover {
  background: $blue;

  .fa-bell {
    transform: rotate(45deg);
  }

  .fa-bars,
  .fa-envelope {
    transform: scale(1.2);
  }

  .fa-cog {
    transform: rotate(90deg);
  }
}

.search-form,
#settings-btn,
#messages-btn,
#notification-btn {
  display: none;
}

@media (min-width: 720px) {

  .search-form,
  #settings-btn,
  #messages-btn,
  #notification-btn {
    display: block;
  }

}

.search-form {  
  flex: 1;
  height: 100%;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;

  input {
    border: none;
    font-size: 1.1rem;
    flex: 1;
    padding: 0 10px;
    border: 2px solid transparent;
    transition: $transition-short;
    background: $light;
  }
}

.search-icon {
  width: $header-height;
  background: $light;
  display: flex;
  align-items: center;
  justify-content: space-around;
  order: -1;

  i {
    font-size: $icon-size;
    transition: $transition-short;
  }
}

#search:focus,
#search:active {
  background: #fff;
}

#search:hover + .search-icon,
#search:focus + .search-icon,
#search:active + .search-icon {
  background: $blue;
}

#search:hover + .search-icon .fa-search,
#search:focus + .search-icon .fa-search,
#search:active + .search-icon .fa-search {
  transform: scale(1.2);
}

#search:hover,
#search:focus,
#search:active{
  outline:none;
  border: 2px solid $blue;
}

/* ================================= 
  dropdown
==================================== */

.dropdown {
  position: absolute;
  min-width: 10rem;
  margin: 1rem;
  text-align: left;
  border: $border;
  right: 0;
  margin-top: 16px;
  padding: $padding;
  display: none;

  .dropdown-wrapper {
    font-size: $dropdown-font-size;
    color: $dark;
    padding: $padding / 2;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
  }

  .dropdown-wrapper:hover {
    background: $light;
  }

  .dropdown-content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .messages-avatar {
      img {
        width: 64px;
        border-radius: 100px;
        margin-right: 10px;
        border: 2px solid $blue;
      }      
    }

    .messages-content {
      display: flex;
      flex-direction: column;

      h3 {
        margin: 0;
        font-size: 1rem;
      }

      span {
        font-size: 0.9rem !important;
      }

      small {
        font-size: $dropdown-font-size;
        color: $font-meta-color;
      }
    }

    .messages-content,
    .notification-content {
      flex: 1;

      i {
        margin-right: 5px;
        transform: none;
        color: $blue;
      }

      .fa-envelope,
      .fa-bell,
      span {
        font-size: 1rem;
      }
    }

    .notification-footer {
      margin-left: 20px;
      color: $font-meta-color;
    }
  }
}

.settings-dropdown {
  display: none;

  h3 {
    font-size: 1rem;
    margin: 0 0 10px 10px;
  }

  li {
    display: flex;
  }

  span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    border: 3px solid transparent;
    padding: 3px;
    transition: $transition-long;
  }

  span:hover {
    border-color: $dark;
  }

  // i {
  //   // margin-left: 10px;
  //   border: 3px solid transparent;
  //   border-radius: 50%;
  //   padding: 3px;
  // }

  // .color-theme:hover i {
  //   border: 3px solid $blue;
  // }
}

.show-dropdown {
  display: block;
}

.show-settings-dropdown {
  display: flex;
  flex-direction: column;
}
